<!DOCTYPE html>

<html>
    <head>
        <title>Cadastro de morador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/stylesheet/select2.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/select2-bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/formiga-css.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/checkbox-css.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
        
        <style>
            .panel-danger>.panel-heading {
                color:#FFFFFF; 
                background-color: #FFFFFF; 
                border-color: #FFFFFF;
            }
            .panel-danger {
                border-color:#FFFFFF;
            }
        </style>
        
    </head>
    
    <body>
        <div class="container">

            <div th:replace="NavBar :: navbar"></div>
            <div th:replace="resident/Telefone :: modaltelefoneResident"></div>

            <div class="jumbotron">

                <form>
                    <span style="background-color: #f5f5f5" class="list-group-item" >
                        <div class="row">
                            <div class="list-group">
                                <div class="foto col-xs-6 col-md-3"> <!--col-xs-6 col-md-3-->
                                    <img class="thumbnail" id="imgFundo" style="height: 180px; width: 100%;">
                                    <span title="Obrigatório" style="width: 100%;" class="btn btn-danger btn-file glyphicon glyphicon-folder-open">
                                        <input onchange="preview(this)" id="fileimagem" type="file" accept=".png"/>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="nome col-sm-3 form-group">
                                <label class="control-label" for="nome">Nome</label> 
                                <input style="text-transform: uppercase" type="text" autocomplete class="form-control" id="nome" name="nome">
                            </div>

                            <div class="cpf col-sm-3 form-group ">
                                <label class="control-label" for="cpf">CPF</label> 
                                <input type="text" autocomplete class="form-control js-cpf" id="cpf" name="cpf">
                            </div>

                            <div class="rg col-sm-3 form-group">
                                <label class="control-label" for="rg">RG</label> 
                                <input style="text-transform: uppercase" type="text" maxlength="12" minlength="5" autocomplete="" class="form-control" id="rg" name="rg">
                            </div>

                            <div class="orgaoEmissor col-sm-3 form-group ">
                                <label class="control-label" for="emissor">Orgão emissor</label> 
                                <input style="text-transform: uppercase" type="text" autocomplete="" maxlength="8" minlength="3" class="form-control emissor" id="emissor" name="emissor">
                            </div>

                            <div class="dataNascimento col-sm-3 form-group ">
                                <label class="control-label" for="dataNascimento">Data nascimento</label> 
                                <input type="date" autocomplete class="form-control" id="dataNascimento" name="dataNascimento">
                            </div>

                            <div class="naturalidade col-sm-3 form-group">
                                <label class="control-label" for="natural">Natural</label> 
                                <input style="text-transform: uppercase" type="text" autocomplete="" class="form-control" id="natural" name="natural">
                            </div>

                            <div class="estadoCivil col-sm-3 form-group ">
                                <label class="control-label" for="estadoCivil">Estado civil</label> 
                                <select id="estadoCivil" data-minimum-results-for-search="Infinity" name="estadoCivil" class="form-control">
                                </select>
                                <input type="hidden" id="combo-civil-value" />
                            </div>

                            <div class="sexo col-sm-3 form-group ">
                                <label class="control-label" for="sexo">Sexo</label> 
                                <select id="sexo" data-minimum-results-for-search="Infinity" name="sexo" class="form-control">
                                </select>
                                <input type="hidden" id="combo-sexo-value" />
                            </div>


                            <div class="numeroCasa col-sm-3 form-group ">
                                <label class="control-label" for="casa">N° Casa</label> 
                                <input style="text-transform: uppercase" type="text" autocomplete class="form-control casa" id="casa" name="casa">
                            </div>

                            <div class="qtdMoradores col-sm-3 form-group ">
                                <label class="control-label" for="qtdMorador">Qtd Moradores</label> 
                                <input type="text" maxlength="1" autocomplete class="form-control qtd-morador" id="qtdMorador" name="qtdMorador">
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label" >Animal domestico</label>
                                <div style="margin-top: 7px;" >
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="radio radio-inline radio-info">
                                                <input id="animalSim" name="animal" value="true" type="radio" >
                                                <label for="animalSim">Sim</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <div class="radio radio-inline radio-info">
                                                <input id="animalNao" name="animal" checked value="false" type="radio" >
                                                <label for="animalNao">Não</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="telefones col-sm-3  form-group">
                                <label for="telefones" class="control-label">Telefone/Telefones</label>
                                <div style="display: flex;">
                                    <!--<input type="text" autocomplete class="form-control js-phone-number" id="telefone" name="telefone">-->
                                    <select data-placeholder="Lista de telefone" id="telefones" name="telefones" class="form-control select-telefones" data-live-search="true" >
                                    </select>
                                    <div class="btnAdd" style="margin: 0 0 0 5px;">
                                        <button style="display: none" title="Remover telefone selecionado" type="button" class="btn btn-danger btn-remove-tel">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                        <button title="Clique para salvar" type="button" class="btn btn-success btn-open-modal" data-toggle="modal" data-target="#modaltelefoneResident">
                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row">

                            <div class="col-sm-5">

                                <div style="display: flex;">
                                    <button type="button" class="btn btn-primary btn-save">
                                        <span class="glyphicon glyphicon-floppy-saved"></span> Save
                                    </button>

                                    <div style="margin: 0 0 0 5px;">
                                        <button type="reset" class="btn btn-warning btn-new" >
                                            <span class="glyphicon glyphicon-refresh"></span> New
                                        </button>
                                    </div>

                                    <div style="margin: 0 0 0 5px;">
                                        <a th:href="@{/city/page/search}" type="button" class="btn btn-default btn-page-search">
                                            <span class="glyphicon glyphicon-search"></span> Search
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                        <div style="margin-bottom: 15px;" ></div>
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading"><b>Carros</b></div>
                                    <div class="panel-body">
                                        <div class="feed-fabricante">
                                            <label class="control-label" for="marcas">Digite as inicias da marca do veículo</label>
                                            <select class="form-control" id="marcas" name="marcas">
                                                <option value="-1" label="Marca" >Marca</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="id-fabri-carro" id="id-fabri-carro" />
                                        <input type="hidden" name="fabri-carro" id="fabri-carro" />

                                        <div class="row" style="margin-top: 10px;">
                                            <div class="feed-cor form-group col-sm-6">
                                                <label class="control-label" for="cor">Cor</label>
                                                <select class="form-control" id="cor" name="cor">
                                                    <option value="-1" label="-- Cor --" disabled="" selected=""></option>
                                                    <option class="label label-info" style="background-color: #FFFFFF;color:black" label="Branca" id="Branca" value="Branca">Branca</option>
                                                    <option class="label label-info" style="background-color: #bebfbd" label="Prata" id="Prata" value="Prata">Prata</option>
                                                    <option class="label label-info" style="background-color: #000000" label="Preta" id="Preta" value="Preta">Preta</option>
                                                    <option class="label label-info" style="background-color: #C0C0C0" label="Cinza" id="Cinza" value="Cinza">Cinza</option>
                                                    <option class="label label-info" style="background-color: #FF0000" label="Vermelha" id="Vermelha" value="Vermelha">Vermelha</option>
                                                    <option class="label label-info" style="background-color: #4F4F2F" label="Verde" id="Verde" value="Verde">Verde</option>
                                                    <option class="label label-info" style="background-color: #0000FF" label="Azul" id="Azul" value="Azul">Azul</option>
                                                    <option class="label label-info" style="background-color: #FFFF00" label="Amarela" id="Amarela" value="Amarela">Amarela</option>
                                                    <option class="label label-info" style="background-color: #A62A2A" label="Marrom" id="Marrom" value="Marrom">Marrom</option>
                                                    <option class="label label-info" style="background-color: #FFFFFF;color:black" label="Outra" id="Outra" value="Outra">Outra</option>
                                                </select>
                                                <input type="hidden" id="cor-carro-value"/>
                                            </div>

                                            <div class="feed-placa form-group col-sm-6">
                                                <label class="control-label" for="placa">Placa</label>
                                                <input minlength="8" min="8" style="text-transform: uppercase" class="form-control js-placa-car" id="placa" name="placa"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="feed-modelo form-group col-sm-12">
                                                <label class="control-label" for="modelos">Selecione o modelo</label>
                                                <div style="display: flex">
                                                    <select class="form-control" id="modelos" name="modelos" >
                                                    </select>
                                                    <input type="hidden" name="id-modelo-carro" id="id-modelo-carro" />
                                                    <input type="hidden" name="modelo-carro" id="modelo-carro" />
                                                    <div id="divBtnAddCarro" style="margin: 0 0 0 5px;">
                                                        <button title="Adicionar carro" type="button" class="btn btn-success add-carro" >
                                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><b>Carros</b></div>
                                                    <div class="panel-body">
                                                        <div style="padding-top: 20px; height: 130px;" class="table-responsive">
                                                            <table class="table table-bordered tbl-add-carro">
                                                                <thead>
                                                                    <tr style="background-color: #f5f5f5">
                                                                        <th>Fabricante</th>
                                                                        <th>Modelo</th>
                                                                        <th>Placa</th>
                                                                        <th>Cor</th>
                                                                        <th class="text-center" style="width: 60px;">Ação</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="7" >Nenhum adicionado</td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading"><b>Motos</b></div>
                                    <div class="panel-body">
                                        <div class="feed-fabricante-moto">
                                            <label class="control-label" for="marcasMoto">Digite as iniciais da marca da moto</label>
                                            <select class="form-control" id="marcasMoto" name="marcasMoto">
                                                <option value="-1" label="Marca" >Marca</option>
                                            </select>
                                            <input type="hidden" name="id-fabri-moto" id="id-fabri-moto" />
                                            <input type="hidden" name="fabri-moto" id="fabri-moto" />
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="feed-cor-moto form-group col-sm-6">
                                                <label class="control-label" for="cor-moto">Cor</label>
                                                <select class="form-control" id="cor-moto" name="cor-moto">
                                                    <option value="-1" label="-- Cor --" disabled="" selected=""></option>
                                                    <option class="label label-info" style="background-color: #FFFFFF; color:black" label="Branca" id="Branca" value="Branca">Branca</option>
                                                    <option class="label label-info" style="background-color: #bebfbd" label="Prata" id="Prata" value="Prata">Prata</option>
                                                    <option class="label label-info" style="background-color: #000000" label="Preta" id="Preta" value="Preta">Preta</option>
                                                    <option class="label label-info" style="background-color: #C0C0C0" label="Cinza" id="Cinza" value="Cinza">Cinza</option>
                                                    <option class="label label-info" style="background-color: #FF0000" label="Vermelha" id="Vermelha" value="Vermelha">Vermelha</option>
                                                    <option class="label label-info" style="background-color: #4F4F2F" label="Verde" id="Verde" value="Verde">Verde</option>
                                                    <option class="label label-info" style="background-color: #0000FF" label="Azul" id="Azul" value="Azul">Azul</option>
                                                    <option class="label label-info" style="background-color: #FFFF00" label="Amarela" id="Amarela" value="Amarela">Amarela</option>
                                                    <option class="label label-info" style="background-color: #A62A2A" label="Marrom" id="Marrom" value="Marrom">Marrom</option>
                                                    <option class="label label-info" style="background-color: #FFFFFF;color:black" label="Outra" id="Outra" value="Outra">Outra</option>
                                                </select>
                                                <input type="hidden" id="cor-moto-value"/>
                                            </div>

                                            <div class="feed-placa-moto form-group col-sm-6">
                                                <label class="control-label" for="placa-moto">Placa</label>
                                                <input style="text-transform: uppercase" class="form-control js-placa-car" id="placa-moto" name="placa-moto"/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="feed-modelo-moto form-group col-sm-12">
                                                <label class="control-label" for="modelosMoto">Selecione a moto</label>
                                                <div style="display: flex">
                                                    <select class="form-control" id="modelosMoto" name="modelosMoto" >
                                                    </select>
                                                    <input type="hidden" name="id-modelo-moto" id="id-modelo-moto" />
                                                    <input type="hidden" name="modelo-moto" id="modelo-moto" />
                                                    <div id="divBtnAddMoto" style="margin: 0 0 0 5px;">
                                                        <button title="Adicionar moto" type="button" class="btn btn-success add-moto" >
                                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><b>Motos</b></div>
                                                    <div class="panel-body">
                                                        <div style="padding-top: 20px; height: 130px;" class="table-responsive">
                                                            <table class="table table-bordered tbl-add-moto">
                                                                <thead>
                                                                    <tr style="background-color: #f5f5f5">
                                                                        <th>Fabricante</th>
                                                                        <th>Modelo</th>
                                                                        <th>Placa</th>
                                                                        <th>Cor</th>
                                                                        <th class="text-center" style="width: 60px;">Ação</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="7">Nenhum adicionado</td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </span>

                </form>

            </div>
            <div id="divLoading"></div>
        </div>

        <script>
            var outImage = "imgFundo";
            function preview(obj) {
                if (FileReader) {
                    var reader = new FileReader();
                    reader.readAsDataURL(obj.files[0]);
                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            document.getElementById(outImage).src = image.src;
                        };
                    };
                }
            }
        </script>

        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor-js/jquery.mask.min.js}"></script>
        <script th:src="@{/vendor-js/jquery.maskMoney.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/mask.phone.decimal.plain.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/select2.full.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/pt-BR.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/sweetalert2.all.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/jquery.blockUI.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/resident/casanumerada/save.resident.casanumerada.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/resident/automovel.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/resident/addTelefone.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/formiga.js}" type="text/javascript"></script>
    </body>

</html>
