<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <head>
        <title>Erro Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/stylesheet/formiga-css.css}" rel="stylesheet">
        <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
    </head>

    <body>
        
        <div class="container ">
            
        </div>

        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        
    </body>
</html>
