<html>
    <head>
        <title>DashBoard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/stylesheet/formiga-css.css}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
        <link th:href="@{/stylesheet/font-awesome.css}" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <div class="container">

            <div th:replace="NavBar :: navbar"></div>
            
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4">
                        <div style="" id="chartContainer1"></div>
                    </div>
                    <div class="col-xs-8">
                        <div style="" id="chartContainerRel"></div>
                    </div>
                </div>
            </div>       

        </div>

        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor-js/canvasjs.min.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/formiga.js}" type="text/javascript"></script>
        
        <script>
        
        var dados = [];
        
        dados.push(2);
        dados.push(10);
        
        var chart = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            title:{
                text: "Status Flyer",
                horizontalAlign: "center"
            },
            data: [{
                type: "doughnut",
                startAngle: 60,
                //innerRadius: 60,
                indexLabelFontSize: 15,
                indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%) ",
                    dataPoints: [
                        {y: dados[0], label: "Online"},
                        {y: dados[1], label: "Off"}
                    ]
                }]
        });
        
        
        var dps = []; // dataPoints
            var charTempoReal = new CanvasJS.Chart("chartContainerRel", {
                title :{
                    text: "Movimentação em tempo real"
                },
                axisY: {
                    includeZero: false
                },      
                data: [{
                    type: "line",
                    dataPoints: dps
                }]
            });

            var xVal = 0;
            var yVal = 100; 
            var updateInterval = 5000;
            var dataLength = 20; // number of dataPoints visible at any point

            var updateChart = function (count) {

                count = count || 1;

                for (var j = 0; j < count; j++) {
                    yVal = yVal + Math.round(5 + Math.random() * (-5 - 5));
                    dps.push({
                        x: xVal,
                        y: yVal
                    });
                    xVal++;
                }

                if (dps.length > dataLength) {
                    dps.shift();
                }

                charTempoReal.render();
            };

            updateChart(dataLength);
            setInterval(function () {updateChart();}, updateInterval);

        
        
        chart.render();


    </script>
        
<!--        <script th:src="@{/vendor-js/Chart.min.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/graficos/chart-area-demo.js}" type="text/javascript"></script>
        <script th:src="@{/flyer-js/graficos/chart-pie-demo.js}" type="text/javascript"></script>-->

    </body>
</html>

