<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>New Flyer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/stylesheet/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/formiga-css.css}" rel="stylesheet">
        <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
    </head>

    <body>

        <div class="container">

            <div th:replace="NavBar :: navbar"></div>

            <div class="jumbotron">
                
                <div style="display: none;" class="alert-success-flyer">

                </div>

                <div style="display: none;" class="alert-danger-flyer">

                </div>
                
                <p>Registration Flyer</p>

                <form th:action="@{/flyer/save}" method="post">
                    
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label title="Click para ver detalhes" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="control-label">Situação</label>
                            <div>
                                <input id="situacao" type="checkbox" class="js-status" data-on="ON" data-off="OFF"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="collapse" id="collapseExample">
                                <div class="well">
                                    <ul>
                                        <li>
                                            <span>Se o Flyer for salvo como <label style="background-color:  red" class="badge">OFF</label> significa que poderá ser excluido em uma oportunidade futura</span>
                                        </li>
                                        <li>
                                            <span>Se o Flyer for salvo como <label style="background-color:  green" class="badge">ON</label> significa que não poderá ser excluido, e nem alterado os dados, pois estará vinculado ao um link </span>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">

                        <div class="condominio col-sm-6 form-group"> <!--has-success has-feedback--> 
                            <label class="control-label" for="condominio">Condominio</label> 
                            <input type="text" class="form-control" id="condominio" aria-describedby="condominio">
                        </div>

                        <div class="portaria col-sm-6 form-group "> <!--has-warning has-feedback-->
                            <label class="control-label" for="portaria">Portaria</label> 
                            <input type="text" class="form-control" id="portaria" aria-describedby="portaria">
                        </div>

                    </div>

                    <div class="codFlyer form-group "> <!--has-error has-feedback-->
                        <label class="control-label" for="codFlyer">Flyer Cod</label> 
                        <input type="text" class="form-control" id="codFlyer" aria-describedby="codFlyer">
                    </div>
                
                </form>    
                    
                <button class="btn btn-primary btn-save">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                    Salvar
                </button>

            </div>
            <div id="divLoading"></div>
        </div>
        
    </body>
    <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor-js/bootstrap-toggle.min.js}" type="text/javascript"></script>
    <script th:src="@{/flyer-js/formiga.js}" type="text/javascript"></script>
    <script th:src="@{/flyer-js/save.flyer.js}"></script>


</html>