<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Página de apresentação</title>
            <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/stylesheet/owl.carousel.min.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{/stylesheet/owl.theme.default.css}" rel="stylesheet" type="text/css"/>
            <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
            <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
            
            <style>
                html,body {
                    font-family: 'Raleway', sans-serif;
                    padding: 1em 2em;
                    font-size: 12px;
                }

                h1,h2 {
                    font-weight: 200;
                    margin: 0.4em 0;
                }
                h1 { 
                    font-size: 3.5em; 
                }
                h2 {
                    color: #888;
                    font-size: 2em;
                }
            </style>
            
    </head>

    <body>
        
        
        <h1>This system is
            <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Nerdy.", "Simple.", "Java.", "Spring boot.", "JS/Jquery.", "Bootstrap 3.", "Thymeleaf." ]'>
            </span>
        </h1>
        <h2>A single &lt;span&gt; is all you need.</h2>

        <section>
            <div style="text-align: center; padding-top: 10px;" class=" form-group">
                <!--<div class=" alert alert-warning alert-dismissible fade in" role="alert">--> 
                    <h3>Feliz por você está aqui!</h3> 
                    <h4>estamos em faze construção, mas algumas telas já podem ser usadas.</h4>
                    <br>
                    <div class="row">
                        <div style="display: flex;justify-content: center;text-align: center;">
                            <div class="form-group col-sm-2">
                                <button th:href="@{/dashboard}" onclick="window.open('/formiga/dashboard');" class="btn btn-success">
                                    Visitinha rápida <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                            <div class="form-group">
                                <form action="https://google.com">
                                    <input class="btn btn-default" type="submit" value="Agora não" />
                                </form>
                            </div>   
                        </div>
                    </div>
                <!--</div>--> 
            </div>              
        </section>

        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor-js/owl.carousel.min.js}" type="text/javascript"></script>
<!--        <script th:src="@{/flyer-js/nav/menu.submeu.js}" type="text/javascript"></script>-->
        
        <section style="padding-top: 25px" id="demos">

            <div class="owl-carousel owl-theme">

                <div class="item">
                    <img th:src="@{/imagens/sistema/Cadastro-flyer.png}"/>
                    <div style="text-align: center">
                        <span><b>Cadastro do flyer</b></span>
                    </div>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Salvando-flyer.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Flyer-registrado.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Pesquisa-flyer.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Mensagem-delete.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Mensagem-pos-delete.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Nova-tela-update-flyer.png}"/>
                </div>
                <div class="item">
                    <img th:src="@{/imagens/sistema/Dashboard-tempo-real.png}"/>
                    <div style="text-align: center">
                        <span><b>Dashboard</b></span>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/imagens/sistema/Cadastro-resident.png}"/>
                    <div style="text-align: center">
                        <span><b>Cadastro de resident</b></span>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/imagens/sistema/Resident-salvo.png}"/>
                    <div style="text-align: center">
                        <span><b>Resident salvo</b></span>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/imagens/sistema/Pesquisa-resident.png}"/>
                    <div style="text-align: center">
                        <span><b>Busca que mostra a foto resident</b></span>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/imagens/sistema/Resident-encontrado.png}"/>
                    <div style="text-align: center">
                        <span><b>Resedent encontrado</b></span>
                    </div>
                </div>

                <div class="item">
                    <img th:src="@{/imagens/sistema/Update-resident.png}"/>
                    <div style="text-align: center">
                        <span><b>Update resident</b></span>
                    </div>
                </div>

            </div>
            
        </section>
        
        <script>
            $(document).ready(function () {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    items: 2,
                    loop: true,
                    margin: 20,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: true,
                    responsiveClass: true
                });
            });
        </script>
        
        <script>
            
            var TxtRotate = function(el, toRotate, period) {
              this.toRotate = toRotate;
              this.el = el;
              this.loopNum = 0;
              this.period = parseInt(period, 10) || 2000;
              this.txt = '';
              this.tick();
              this.isDeleting = false;
            };

            TxtRotate.prototype.tick = function() {
              var i = this.loopNum % this.toRotate.length;
              var fullTxt = this.toRotate[i];

              if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
              } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
              }

              this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

              var that = this;
              var delta = 300 - Math.random() * 100;

              if (this.isDeleting) { delta /= 2; }

              if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
              } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
              }

              setTimeout(function() {
                that.tick();
              }, delta);
            };

            window.onload = function() {
              var elements = document.getElementsByClassName('txt-rotate');
              for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-rotate');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                  new TxtRotate(elements[i], JSON.parse(toRotate), period);
                }
              }
              // INJECT CSS
              var css = document.createElement("style");
              css.type = "text/css";
              css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
              document.body.appendChild(css);
            };
            
        </script>
        
    </body>

</html>

<!--<div class="row">
    <div style="display: flex;justify-content: center;text-align: center;">
        <div class="form-group col-sm-2">
            <button th:href="@{/dashboard}" onclick="window.open('/formiga/dashboard');" class="btn btn-success">
                Visitinha rápida <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
        <div class="form-group">
            <form action="https://google.com">
                <input class="btn btn-default" type="submit" value="Agora não" />
            </form>
        </div>   
    </div>
</div>-->