<!DOCTYPE html >
<html>
    
    <head>
        <meta charset="UTF-8">
        <title>Search Flyer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/stylesheet/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/formiga-css.css}" rel="stylesheet">
        <link rel="shortcut icon" th:href="@{/imagens/projectavatar.png}"/>
    </head>

    <body>

        <div class="container">
            
            <div th:replace="NavBar :: navbar"></div>

            <div class="jumbotron">
                
                <div>
                    <p>Search Flyer</p>
                </div>
                
                <form>
                    
                    <div th:replace="flyer/UpdateFlyer :: modalUpdate"></div>
                    
                    <div class="row">

                        <div class="feed col-sm-4 form-group" > <!--has-success has-feedback--> 
                            <input type="text" class="form-control" placeholder="Flyer cod..." name="codFlyer" id="codFlyer" aria-describedby="codFlyer">
                        </div>

                        <div class="form-group col-sm-3">
                            <button class="btn btn-primary btn-search">
                                <span class="glyphicon glyphicon-search"></span>
                                Search
                            </button>
                        </div>

                    </div>
                    
                </form>
                
                <div style="padding-top: 30px;" class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Condominio</th>
                                <th class="text-center" >Portaria</th>
                                <th class="text-center">N° Flyer</th>
                                <th class="text-center" style="width: 100px;">Status</th>
                                <th class="text-center" style="width: 100px;">Ação</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr th:each="flyer : ${todas}" style="background-color: white">
                                
                                <td th:text="${flyer.id}">1</td>
                                
                                <th:block th:if="${flyer.status.value eq 'Online'}">

                                    <td th:text="${flyer.condominio}">Jardins</td>

                                    <td class="text-center"  th:text="${flyer.portaria}">Social</td>

                                    <td style="font-weight: bold" class="text-center"  th:text="${flyer.codFlyer}">40</td>

                                    <td style="text-align: center;">
                                        <input disabled id="situacao" type="checkbox" class="js-status" data-on="ON" data-off="OFF"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small" checked/>
                                    </td>
                                    
                                </th:block>
                                
                                <th:block th:if="${flyer.status.value eq 'Offline'}">
                                    
                                    <td>
                                        <input class="form-control" th:value="${flyer.condominio}" data-container="body" data-toggle="cond" data-placement="top" data-content="Este campo é obrigatório." type="text" name="condominio" />
                                    </td>

                                    <td style="width: 150px" >
                                        <input style="text-align: center"  class="form-control " th:value="${flyer.portaria}" data-container="body" data-toggle="por" data-placement="top" data-content="Este campo é obrigatório." type="text" name="portaria" />
                                    </td>

                                    <td style="width: 150px" >
                                        <input style="text-align: center; font-weight: bold;" class="form-control" th:value="${flyer.codFlyer}" data-container="body" data-toggle="codf" data-placement="top" data-content="Este campo é obrigatório." type="text" name="codflyer" />
                                    </td>

                                    <td style="width: 80px; text-align: center;" >
                                        <input type="checkbox" class="js-status" data-on="ON" data-off="OFF"  data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="small"/>
                                    </td>
                                
                                </th:block>
                        
                                <td class="text-center">
                                    <a data:id="${flyer.id}"
                                       th:if="${flyer.status.value eq 'Offline'}" title="Salvar" class="btn btn-link btn-xs btn_update_flyer">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </a>
                                    <a th:if="${flyer.status.value eq 'Offline'}" class="btn btn-link btn-xs" onclick="deletar(this.id);" th:id="${flyer.id}"  title="Excluir">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                    <a th:if="${flyer.status.value eq 'Online'}" class="btn btn-link btn-xs" title="Vinculado">
                                        <i style="color: #b80b0c" class="glyphicon glyphicon-link"></i>
                                    </a>
                                    
                                </td>
                                
                            </tr>
                            
                            <tr th:if="${todas == null or todas.isEmpty()}" class='lista-vazia'>
                                <td colspan='7' style='color:green'>
                                    <b>Nenhum flyer encontrado</b>
                                </td>
                            </tr>

                        </tbody>
                        
                    </table>
                </div>
                
            </div>
            <div id="divLoading"></div>
        </div>

    </body>
    <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor-js/bootstrap-toggle.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendor-js/sweetalert2.all.min.js}" type="text/javascript"></script>
    <script th:src="@{/flyer-js/formiga.js}" type="text/javascript"></script>
    <script th:src="@{/flyer-js/search.flyer.js}" type="text/javascript"></script>

</html>