
#divLoading {
    display : none;
}
#divLoading.show {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('/formiga/imagens/hourglass.gif');
    background-color:#ffffff;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show {
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}

div.content {
    width : 1000px;
    height : 1000px;
}

.inner-addon {
    position: relative;
}
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*input file página cadastro*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.combo-update {
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    float: right;
    position: relative;
    z-index: 1;
}

.combo-update:hover {
    text-decoration: underline;
}

body {
    
    margin-top: 100px;
    /*background-color: #dadada;*/
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);*/
/*    background: #d7fcff;  Old browsers 
    background: -moz-radial-gradient(center, ellipse cover,  dad9dc 1%, #1c2b5a 100%);  FF3.6+
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,dad9dc), color-stop(100%,#1c2b5a));  Chrome,Safari4+ 
    background: -webkit-radial-gradient(center, ellipse cover,  #d7fcff 1%,#666666 80%);  Chrome10+,Safari5.1+ 
    background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%);  Opera 12+ 
    background: -ms-radial-gradient(center, ellipse cover,  #d7fcff 1%,#666666 80%);  IE10+ */

    /*W3C*/ 
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 );  IE6-9 fallback on horizontal gradient 
    height:calc(100vh);
    width:100%;*/
}

/*css button*/
.new-button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
}

.new-button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
}

.new-button:disabled,

.new-button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/*Legenda- não uso*/
body { 
    padding-top: 20px;
    background-color: #f8f8f8;
}

/*Legenda horizontal*/
.legenda-horizontal .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 70%;
}
.legenda-horizontal .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.legenda-horizontal .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}
.legenda-horizontal ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
}
.legenda-horizontal .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.legenda-horizontal a {
    color: #777;
}


/*Legenda vertical*/
.legenda-vertical .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.legenda-vertical .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.legenda-vertical .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.legenda-vertical ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.legenda-vertical .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.legenda-vertical a {
    color: #777;
}




/*Versões indisponíveis*/
.portfolio {
    background-color: #edf6ff;
    padding-bottom: 0;
}

.portfolio h2 {
    color: #199EB8;
    margin-bottom: 25px;
}

/*
.portfolio-grid {
    margin-top: 0px;
}

.portfolio-grid .row {
    margin: 0;
}

.portfolio-grid .row > div {
    padding: 0;
}

.portfolio-grid .row > div .card img {
    width: 100%;
}
*/

.portfolio-grid .row > div .card .portfolio-over {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.portfolio-grid .row > div .card .portfolio-over > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-grid .row > div .card .portfolio-over .card-title {
    color: #fff;
    font-size: 30px;
}

.portfolio-grid .row > div .card .portfolio-over .card-text {
    color: #fff;
    opacity: .75;
    padding: 0 45px;
}

.portfolio-grid .row > div .card:hover .portfolio-over {
    opacity: 1;
    visibility: visible;
}