#divLoading {
    display : none;
}
#divLoading.show {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('/formiga/imagens/hourglass.gif');
    background-color:#ffffff;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show {
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}

div.content {
    width : 1000px;
    height : 1000px;
}

.inner-addon {
    position: relative;
}
/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


body { 
    padding-top: 20px;
    background-color: #f8f8f8;
}


/* Upload */
.bw-upload {
    padding: 15px;

    border: 1px dashed #ddd;
    border-radius: 4px;
    background: #fafafa;

    text-align: center;
}

.bw-upload-form-file {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.bw-upload-form-file > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    font-size: 500px;
}